<nav class="bg-gradient-to-r from-pink-50 via-purple-50 to-blue-50 shadow-md px-2 sm:px-4 py-4">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <%= link_to "StudyTracker", "/", class: "self-center text-purple-600 text-2xl font-bold whitespace-nowrap hover:text-purple-700 transition-colors" %>
    <div class="w-full md:block md:w-auto">
      <ul class="flex flex-col mt-4 md:flex-row md:space-x-6 md:mt-0 md:text-sm md:font-medium">
        <% if current_user %>
          <li>
            <%= button_to "ログアウト", destroy_user_session_path, class: "block py-2 px-4 text-pink-500 hover:text-white hover:bg-pink-400 rounded-full transition-all md:p-2", method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "block py-2 px-4 text-purple-500 hover:text-white hover:bg-purple-400 rounded-full transition-all md:p-2" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "block py-2 px-4 text-blue-500 hover:text-white hover:bg-blue-400 rounded-full transition-all md:p-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
